<ul class="countries-list">
  {{#each this}}
    <li class="country-item">
      <a class="country-link" href={{name}}><img
          src="https://img.icons8.com/plasticine/100/000000/checked-checkbox.png"
          width="40"
        />
        <p class="country-name">{{name}}</p></a>
    </li>
  {{/each}}
</ul>