<ul class="countries-list">
  {{#each this}}
    <li class="country-item">
      <a class="country-link" href=""><img
          src="https://img.icons8.com/plasticine/100/000000/checked-checkbox.png"
          alt={{name}}
          width="40"
        />{{name}}</a>
    </li>
  {{/each}}
</ul>