body {
  font-family: "Lato", sans-serif;
  color: rgba(14, 88, 110, 0.9);
  background: #5ee7df;

  background: -webkit-linear-gradient(
    to right,
    rgba(94, 231, 223, 0.5),
    rgba(180, 144, 202, 0.5)
  );

  background: linear-gradient(
    to right,
    rgba(94, 231, 223, 0.5),
    rgba(180, 144, 202, 0.5)
  );
}

.container {
  width: 1280px;

  margin-left: auto;
  margin-right: auto;
}

.countries {
  padding: 50px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-field {
  width: 350px;
  height: 25px;

  color: orchid;

  font-family: "Lato", sans-serif;
  font-size: 20px;

  border-radius: 5px;
  border: 2px solid rgba(179, 152, 209, 0.7);

  text-align: center;

  transition: all 500ms ease;
}

.search-field::placeholder {
  color: rgba(179, 152, 209, 1);
}

.search-field:focus,
.search-field:hover {
  border: 2px solid orchid;
  outline: none;
}

.country {
  border: 5px solid rgba(179, 152, 209, 0.5);
  border-radius: 10px;
  padding: 50px;
  margin-top: 40px;
}

.header {
  text-align: center;
  font-size: 50px;
}

.data-list {
  list-style: none;
  padding: 0;
  margin-right: 50px;
}

.data-item {
  font-size: 20px;
  font-weight: 700;
}

.data-item:not(:last-child) {
  margin-bottom: 10px;
}

.country-data {
  display: flex;
  justify-content: space-between;
}

.languages {
  font-size: 15px;
  font-weight: 700;

  margin-top: 10px;
}

.language-item:not(:last-child) {
  margin-bottom: 10px;
}

.countries-list {
  padding: 0;
  list-style: none;
}

.country-item {
  font-size: 30px;
  font-weight: 700;

  display: flex;
  align-items: center;
}

/* .country-item:focus,
.country-item:hover {
  color: rgba(194, 73, 190, 0.8);
} */

.country-link {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;

  display: flex;
  align-items: center;
  color: inherit;

  transition: all 300ms ease;
  outline: none;
}

.country-link:focus,
.country-link:hover {
  color: rgba(194, 73, 190, 0.8);
}

.country-name {
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.country-item:not(:last-child) {
  margin-bottom: 10px;
}

.placeholder-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.placeholder-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder-item:not(:last-child) {
  margin-bottom: 40px;
}

.placeholder-mark {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: rgba(180, 144, 202, 0.4);
}

.placeholder-row {
  width: 350px;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(180, 144, 202, 0.4);
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #732d94;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;

  position: absolute;
  top: 40%;
  left: 47%;

  top: 50;
  left: 50;
}

.is-hidden {
  display: none;
  pointer-events: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
